.loader {
    display: none;
    /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Dark background */
    z-index: 1000;
    /* High z-index to overlay on top of everything */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
}

.loader.show {
    display: flex;
    /* Show the loader when the class is added */
}

.loader .spinner {
    border-top-color: #3498db;
    width: 50px;
    height: 50px;
    border: 4px solid #ccc;
    border-radius: 50%;
    border-left-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Center the text under the loader */
.loader h2 {
    color: white;
    margin-top: 10px;
    /* Add some space between the spinner and text */
}